#contenido2{
    width:1100px;
    margin:0 auto;
 }
 
 form{
    font-size:14px;
    color:#6B121B;
    border-radius:7px;
    background-color:#D4DAE4;
    border:1px dotted #B8BFCB;
    padding:14px;
 }
 
 fieldset{
    border-radius:6px;
    border:1px dotted gray;
    margin-bottom:15px;
    padding:0 20px;
 }
 
 legend{
    color:gray;
    font-size:13px;
    margin-bottom:16px;
 }
 
 input{
    background-color:white;
    border-radius:4px;
    color:#264F96;
    font-size:16px;
    padding:3px 3px 3px 10px;
    outline: none;
 }
 
 #boton_enviar{
    padding:6px 30px;
    background-color:#2A477A;
    color:white;
    font-size:14px;
 }
 
 #boton_enviar:hover{
    cursor:pointer;
    background-color:#5376B2;
 }
 
 textarea{
    width:450px;
    height:50px;
    max-width:493px;
    min-width:300px;
    max-height:200px;
    min-height:50px;
    margin-top:4px;
    border-radius:4px;
    color:#264F96;
    font-size:16px;
    padding:3px 3px 3px 10px;
 }
 
 [required]{
    border-color:#4AA248;
    box-shadow:0 0 3px #4AA248;
 }
 
 :invalid{
    border-color:#FF7F7F;
    box-shadow:0 0 3px #FF7F7F;
   
    .fcc-btn {
      background-color: #199319;
      color: white;
    }
 }